---
layout: default
---

<a href="./">Active Tables</a>
<a href="./unused">Unused Tables</a>

{% assign unknown_tables = site.tables | where: 'type', 'unknown' %}
<h1>{{ unknown_tables.size }} Unknown Tables</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>References</td>
    </tr>
  </thead>
  <tbody>
  {% for my_table in unknown_tables %}
    <tr>
      <td><a href="{{ my_table.url }}">{{ my_table.name }}</a></td>
      <td>{{ my_table.description }}</td>
      <td>
      {% assign refs = site.emptyarray %}
      {% for col in my_table.columns %}
        {% if col.references %}
          {% capture temp %}
            {% for table in site.tables %}
              {% if table.name == col.references[0] %}
                <a href="{{ table.url }}">{{ table.name }}</a>
              {% endif %}
            {% endfor %}
          {% endcapture %}
          {% assign temp = temp | strip %}
          {% assign refs = refs | push: temp %}
        {% endif %}
      {% endfor %}
      {{ refs | join: ', ' }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
