---
layout: default
---
<h1>Unused Tables</h1>

{% assign inactive_tables = site.tables | where: 'active', false %}
<h2>Tables</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>References</td>
    </tr>
  </thead>
  <tbody>
  {% assign inactive_tables = site.tables | where: 'active', false %}
  {% for my_table in inactive_tables %}
    <tr>
      <td><a href="{{ my_table.url }}">{{ my_table.name }}</a></td>
      <td>{{ my_table.description }}</td>
      <td>
      {% assign refs = site.emptyarray %}
      {% for col in my_table.columns %}
        {% if col.references %}
          {% capture temp %}
            {% for table in site.tables %}
              {% if table.name == col.references[0] %}
                <a href="{{ table.url }}">{{ table.name }}</a>
              {% endif %}
            {% endfor %}
          {% endcapture %}
          {% assign temp = temp | strip %}
          {% assign refs = refs | push: temp %}
        {% endif %}
      {% endfor %}
      {{ refs | join: ', ' }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
