---
layout: default
---

<a href="./">Active Tables</a>
<a href="./unknown">Unknown Tables</a>

{% assign unused_tables = site.tables | where: 'type', 'unused' %}
<h1>{{ unused_tables.size }} Unused Tables</h1>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>References</td>
    </tr>
  </thead>
  <tbody>
  {% for my_table in unused_tables %}
    <tr>
      <td><a href="{{ my_table.url }}">{{ my_table.name }}</a></td>
      <td>{{ my_table.description }}</td>
      <td>
      {% assign refs = site.emptyarray %}
      {% for col in my_table.columns %}
        {% if col.references %}
          {% capture url %}/tables/{{ col.references[0] }}.html{% endcapture %}
          {% capture temp %}
            <a href="{{ url | relative_url }}">{{ col.references[0] }}</a>
          {% endcapture %}
          {% assign temp = temp | strip %}
          {% assign refs = refs | push: temp %}
        {% endif %}
      {% endfor %}
      {{ refs | join: ', ' }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
