---
layout: default
---
<h1>{{ page.name }}</h1>
{% if page.description %}<p>{{ page.description }}</p>{% endif %}
{{ page.content }}

{% plantuml %}
  {% assign app_id = page.app_id %}
  {% app_area_diagram page.app_id %}
{% endplantuml %}

<h2>Tables</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>References</td>
    </tr>
  </thead>
  <tbody>
  {% assign my_tables = site.tables | where: 'app_area', page.app_id %}
  {% for my_table in my_tables %}
    <tr>
      <td><a href="{{ my_table.url }}">{{ my_table.name }}</a></td>
      <td>{{ my_table.description }}</td>
      <td>
      {% assign refs = site.emptyarray %}
      {% for col in my_table.columns %}
        {% if col.references %}
          {% capture temp %}
            <a href="/tables/{{ col.references[0] }}.html">{{ col.references[0] }}</a>
          {% endcapture %}
          {% assign temp = temp | strip %}
          {% assign refs = refs | push: temp %}
        {% endif %}
      {% endfor %}
      {{ refs | join: ', ' }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if page.app_id == 'arrears' %}
<textarea>
  {% assign app_id = page.app_id %}
  {% app_area_diagram page.app_id %}
</textarea>
{% endif %}
