---
layout: default
---
<h1>{{ page.name }}</h1>
{% if page.description %}<p>{{ page.description }}</p>{% endif %}
{{ page.content }}

<p>Active Table: {% if page.active %}yes{% else %}no{% endif %}</p>

<h2>Columns</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Description</td>
      <td>References</td>
    </tr>
  </thead>
  <tbody>
    {% for col in page.columns %}
      <tr>
        <td>{{ col.name }}</td>
        <td>{{ col.type }}</td>
        <td>{{ col.description }}</td>
        <td>{% if col.references %}
        {% assign ref = nil %}
        {% for table in site.tables %}
          {% if table.name == col.references[0] %}
            {% assign ref = table %}
          {% endif %}
        {% endfor %}
        {% if ref %}
          <a href="{{ ref.url }}">{{ ref.name }}</a>
        {% else %}
        {{ col.references[0] }}
        {% endif %}({{ col.references[1] }}){% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
