---
layout: default
---
<h1>{{ page.name }}</h1>
{% if page.description %}<p>{{ page.description }}</p>{% endif %}
{{ page.content }}

<p>Table Type: {{ page.type }}</p>

<h2>Columns</h2>
<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Description</td>
      <td>References</td>
    </tr>
  </thead>
  <tbody>
    {% for col in page.columns %}
      <tr>
        <td>{{ col.name }}</td>
        <td>{{ col.type }}</td>
        <td>{{ col.description }}</td>
        <td>
          {% if col.references %}
            {% capture url %}/tables/{{ col.references[0] }}.html{% endcapture %}
            <a href="{{ url | relative_url }}">{{ col.references[0] }}</a> ({{ col.references[1] }})
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
